<div class="container">
  <div class="login-box">
    <h1>Welcome Back</h1>
    <p class="subtitle">Please Sign In To Your Account</p>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

     <div class="input-group">

  <input class="input" type="email" placeholder="Email" formControlName="email" />
  @if (myForm.get('email')?.touched) {
    <div class="error">
      @if (myForm.get('email')?.errors?.['required']) {
        <small>Email is required</small>
      }
      @if (myForm.get('email')?.errors?.['email']) {
        <small>Invalid email format</small>
      }
    </div>
  }

  <input class="input" type="password" placeholder="Password" formControlName="password" />
  @if (myForm.get('password')?.touched) {
    <div class="error">
      @if (myForm.get('password')?.errors?.['required']) {
        <small>Password is required</small>
      }
      @if (myForm.get('password')?.errors?.['minlength']) {
        <small>Minimum 6 characters</small>
      }
    </div>
  }

</div>

      <div class="options">
        <label>
          <input type="checkbox" class="rememberMe" /> Remember me
        </label>
        <a href="#">Forgot password?</a>
      </div>

      <button type="submit" class="login-btn" [disabled]="myForm.invalid">
        Sign In
      </button>

      <div class="divider"><span>or continue with</span></div>

      <button type="button" class="apple-btn"> Sign in with Apple</button>
      <button type="button" class="google-btn">G Sign in with Google</button>
    </form>

    <div class="donot">
      <p>Don't have an account? <a (click)="goToSignup()">Sign Up</a></p>
    </div>
  </div>

  <div class="image-side"></div>
</div>